streamlit==1.33.0
scArches==0.6.1
torch_geometric
-f https://data.pyg.org/whl/torch-2.2.1+cu121.html torch_scatter
-f https://data.pyg.org/whl/torch-2.2.1+cu121.html torch_sparse
squidpy
captum
patchworklib
pygeos
jax==0.4.23
jaxlib==0.1.68
optax==0.1.2
chex==0.1.2
